.cover__subtitle {
  max-width: 360px;
  font-family: "Inter", "Arial ", sans-serif;
  font-style: normal;
  color: #fff;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  text-align: center;
  margin: 0 auto;
  padding: 0;
  z-index: 1;
}

@media (max-width: 480px) {
  .cover__subtitle {
    max-width: 288px;
    font-size: 14px;
  }
}
