.footer__copyright {
  color: #fff;
  font-family: "Inter", "Arial ", sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  text-align: right;
  margin: 0;
  padding: 0;
}

@media (max-width: 480px) {
  .footer__copyright {
      line-height: 14px;
  }
}

