.cover__title {
  color: #fff;
  font-size: 72px;
  line-height: 76px;
  font-weight: 900;
  text-align: center;
  margin: 0 0 32px;
}

@media screen and  (max-width: 428px) {
.cover__title {
  width: 250px;
  margin: 0 0 16px;
  font-size: 32px;
  line-height: 36px;
  }
}
